/*altezza header*/
header {
    height: 70px;
}

/*dimensionamento wrapper + overflow*/
.wrapper {
    margin-top: 70px;
    overflow: hidden;
    height: calc(100vh - 70px);
    width: 100%;
 }

/*dimensionamento sidebar + sfondo*/
#sidebar {
    height: 100%;
    width: 140px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url("/img/sidebar-bg.png");

}

/*dimensionamento main + overflow*/
main {
    width: calc(100% - 140px);
    overflow-y: auto;
    height: 100%;
}

/*dimensionamento e creazione cerchio arangione table*/
.cerchio {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    background-color: orangered;
    text-align: center;
    padding-top: 7px;
}

/*dimensionamento testo*/
.piccolo {
    font-size: 12px;
}

/*dimensionamento wrapper logo*/
.log {
    width: 50px;
    height: 50px;
    
}

/*dimensionamento sezione left e right navbar*/
.dim {
    height: 100%;
    width: 150px;

}

/*dimensionamento sezione mid navbar*/
.dim2 {
    width: calc(100% - 300px);
}

/*dimensionamento table*/
table tr th {
    width: 400px;
}

table tr td {
    width: auto;
}


/*hover colore testo dropdown*/
.orange:hover {
    color: orange;
}

/*hover lista sidebar*/
#sidebar ul li:hover {
    background-color: grey;
    opacity: 0.9;
}

/*dimensionamento media query offconvas*/
@media  screen and (max-width: 992px){

    .full {
        width:100%;
    }
    
}
@media screen and (min-width: 992px) {
    .half {
       max-width: 50%;
    }
}